ody{
    color:antiquewhite;
    background:black;
    margin:  0px ;
}
header{
   border-bottom: solid 2px rgb(rgb(253, 253, 253)
    padding: 20px;
    font-size: 32px;
    color: rgb(208,50,50)
}


