/* Definir cores do Venom e estilo preto e branco */
:root {
    --primary-color: #d50032; /* Vermelho (para o RedFlix) */
    --secondary-color: #000000; /* Preto */
    --accent-color: #ffffff; /* Branco */
    --gray-color: #555555; /* Tom de cinza para contrastar */
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    font-size: 3rem;
    color: var(--accent-color);
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  section#home {
    padding: 2rem;
    text-align: center;
  }
  
  h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
  }
  
  .movie {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
  }
  
  .movie img {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .movie-details {
    margin-left: 20px;
    max-width: 600px;
    text-align: left;
  }
  
  .movie-details p {
    font-size: 1.2rem;
    color: var(--accent-color);
  }
  
  footer {
    background-color: var(--secondary-color);
    color: var(--gray-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  